/* Resets / Default Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.2;
  font-family: Helvetica;
}

body>* {
  padding: 0 1rem;
}

p,
h2,
h3,
h4,
h5,
h6 {
  padding: 1rem 0;
}

h1 {
  margin: 2rem 0;
}

nav ul {
  list-style: none;
}

#header-logo {
  font-size: 2rem;
}

/* Main Content Styles */
p {
  padding: 0;
}

header {
  padding: 0.5rem;
  background-color: rgb(236, 236, 236);

  /* What happens when you make this display:flex? */

  /* Use justify-content for alignment along the main axis */

  /* Use align-items for alignment along the cross axis */

  /* gap inserts space between elements (but not around them)*/

  /* flex-direction lets you choose row or column */
}

#nav-links {
  /* We just want the nav links to be horizontal with some gap */
}

main {
  margin: 2rem 10%;
}