* {
  box-sizing: border-box;
}

#squares-container {
  border: 1px solid black;
  background: lightgrey;
  padding: 2rem;
}

.square {
  border: 1px solid black;
  font-size: 30px;
  height: 100px;
  /* CSS Animations*/
  transition: 0.5s;


  /* Flex is really great for making things centered! */
  display: flex;
  align-items: center;
  justify-content: center;
}

#one {
  background: red;
}

#two {
  background: orange;
}

#three {
  background: yellow;
}

#four {
  background: green;
}

#five {
  background: blue;
}

#six {
  background: purple;
}

/* Flex makes it easy to put things in a row with beautiful spacing */
.flex-container {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}

.flex-item {
  flex-grow: 1;
}

.flex-item:hover {
  flex-grow: 3;
}